body{
    
    background-color: white; 
}
#title{
    font-size: 18px;
    font-family: tahoma;
    margin-left: 10 px;
    
}

#contenedor{
    width: 900px;
    height: auto;
    background-color: rgb(211, 122, 238);
    margin-left: 200px;
    
}

#respuesta{
    height: auto;
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin-left: 200px;
    font-family: tahoma;
    margin: 2px color black;
    text-align: center;
}

#texto{
    font-family: tahoma; 
    margin-left: 1px;
    margin-right: 1px;
}

h2{
    text-align: center;
    font-family: tahoma;
    font-size: 30px;
}
.boton{
    margin-left: 365px;
    background-color: #fdfdfd; 
    border: none;
    color: rgb(7, 7, 7);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: tahoma;
}
.texto{
    margin: 0.1cm;
    font-family: tahoma;
    font-size: 16px;
}
p{
    font-family: tahoma;
    
}